<?xml version="1.0" encoding="utf-8" ?>
<SipEndpoint xmlns="http://schemas.genesyslab.com/2009/sipendpoint">
  <Container name ="Basic">
    <Connectivity user ="1000" server="192.168.154.128:5060" protocol="tcp"/>
<!--
    <Connectivity user ="7001" server="demosrv:5060" protocol="tcp"/>
    <Connectivity user ="dn1" server="SipServer1.genesyslab.com:5060" protocol="udp"/>
-->
  </Container>
  <Container name ="Genesys">
    <settings version="1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.genesyslab.com/sip">
      <domain name="policy">
        <section name="endpoint">
          <setting name="public_address" value="192.168.154.1"/>
          <setting name="ip_versions" value="ipv4"/>
          <!-- <setting name="ip_versions" value="ipv4,ipv6"/> -->
          <setting name="signaling_qos" value="0"/>
          <setting name="audio_qos" value="0"/>
          <setting name="video_qos" value="0"/>
          <setting name="include_os_version_in_user_agent_header" value="1"/>
          <setting name="sip_port_min" value="5060"/>
          <setting name="sip_port_max" value="5080"/>
          <setting name="rtp_port_min" value="8000"/>
          <setting name="rtp_port_max" value="9000"/>
          <setting name="rtp_inactivity_timeout" value="0"/>
          <setting name="vq_report_publish" value="0"/>
          <setting name="vq_report_collector" value="collector@SipServer.genesyslab.com:5060"/>
        </section>
        <section name="session">
          <setting name="agc_mode" value="1"/>
          <setting name="dtx_mode" value="0"/>
          <setting name="vad_level" value="1"/>
          <setting name="reject_session_when_headset_na" value="0"/>
          <setting name="sip_code_when_headset_na" value="480"/>
          <setting name="auto_answer" value="0"/>
          <setting name="auto_accept_video" value="0"/>
          <!-- setting "dtmf_method" valid values: InbandRtp, rfc2833, Info -->
          <setting name="dtmf_method" value="rfc2833"/>
        </section>
        <section name="device">
          <setting name="use_headset" value="0"/>
          <setting name="headset_name" value="HeadsetName"/>
          <setting name="manual_audio_devices_configure" value="0"/>
          <setting name="audio_in_device" value="MicName"/>
          <setting name="audio_out_device" value="SpeakerName"/>
        </section>
        <section name="codecs">
          <!--
          The number of below codecs should be less than 127 with the range of priorities: 1 - 127
          The codec priorities should have unique not repeatable values 
          -->
          <setting name="PCMU/8000" value="7"/>
          <setting name="PCMA/8000" value="6"/>
          <setting name="iSAC/16000" value="5"/>
          <setting name="iSAC/32000" value="4"/>
          <setting name="iLBC/8000" value="3"/>
          <setting name="G722/16000" value="2"/>
          <setting name="vp8" value="1"/>
        </section>
      </domain>
      <domain name="proxies">
        <section name="proxy0">
          <setting name="reg_timeout" value="1800"/>
        </section>
      </domain>
      <!--
      <domain name="proxies">
        <section name="proxy0">
          <setting name="reg_timeout" value="1800"/>
          <setting name="reg_interval" value="0"/>
          <setting name="password" value="password"/>
          <setting name="display_name" value="Genesys0"/>
          <section name="mailbox">
            <setting name="user" value="dn0"/>
            <setting name="server" value="SipServer1.genesyslab.com:5060"/>
            <setting name="transport" value="udp"/>
            <setting name="timeout" value="1800"/>
            <setting name="password" value=""/>
          </section>
          <section name="nat">
            <setting name="ice_enabled" value="0"/>
            <setting name="stun_server" value="stun.example.com"/>
            <setting name="stun_server_port" value="3478"/>
            <setting name="turn_server" value="turn.example.com"/>
            <setting name="turn_server_port" value="3478"/>
            <setting name="turn_user_name" value="user"/>
            <setting name="turn_password" value="password"/>
      -->
            <!-- turn_relay_type: 0 = TURN over UDP, 1 = TURN over TCP -->
      <!--
            <setting name="turn_relay_type" value="0"/>
          </section>
        </section>
        <section name="proxy1">
          <setting name="reg_timeout" value="1800"/>
          <setting name="reg_interval" value="0"/>
          <setting name="password" value="password"/>
          <setting name="display_name" value="Genesys1"/>
          <section name="mailbox">
            <setting name="user" value="dn1"/>
            <setting name="server" value="SipServer2.genesyslab.com:5060"/>
            <setting name="transport" value="udp"/>
            <setting name="timeout" value="1800"/>
            <setting name="password" value=""/>
          </section>
          <section name="nat">
            <setting name="ice_enabled" value="0"/>
            <setting name="stun_server" value="stun.example.com"/>
            <setting name="stun_server_port" value="3478"/>
            <setting name="turn_server" value="turn.example.com"/>
            <setting name="turn_server_port" value="3478"/>
            <setting name="turn_user_name" value="user"/>
            <setting name="turn_password" value="password"/>
        -->
            <!-- turn_relay_type: 0 = TURN over UDP, 1 = TURN over TCP -->
        <!--
            <setting name="turn_relay_type" value="0"/>
          </section>
        </section>
      </domain>
      -->
      <domain name="system">
        <section name="diagnostics">
          <setting name="logger_type" value="file"/>
          <setting name="log_file" value="SipEndpoint.log"/>
          <setting name="enable_logging" value="1"/>
          <!-- log_level: 0="Fatal" 1="Error" 2="Warning" 3="Info" 4="Debug" -->
          <setting name="log_level" value="4"/> 
          <!-- 
          log_options_provider: 
          valid values for webrtc=(warning, state, api, debug, info, error, critical) 
          -->
          <setting name="log_options_provider" value="gsip=4, webrtc=(error, critical)"/> 
        </section>
        <section name="security">
          <setting name="cert_file" value="ValueOfCertificateThumbprint"/>
          <setting name="tls_enabled" value="0"/>
          <setting name="use_srtp" value="disabled"/>
        </section>
      </domain>
    </settings>
  </Container>
</SipEndpoint>